body {
	font-family: 'Josefin Sans', sans-serif !important;;
}

.text-slanted {
	font-family: 'IM Fell Great Primer SC', serif;
}

.text-orange {
	color: orange;
}

.letter-spacing {
	letter-spacing: 0.5rem;
}
